@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    background-color: azure;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.mainpage {
    animation: transitionIn 1s;
    width: 100%;
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
}

@keyframes transitionIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: inline-block;
    width: 100%;
    position: relative;
    background-color: #5161ce;
    flex: 0.5;
}

.navbar li {
    float: left;
    padding: 5px;
}

.navbar li a.active {
    background-color: blanchedalmond;
    color: blue;
}

.navbar li a {
    border-radius: 80px;
    border: 1px solid;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    display: flex;
    background-color: transparent;
    color: honeydew;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    /*removes underline*/
    /* color: rgba(255, 255, 255, 0.5); */
}

.navbar li a:hover {
    background-color: blanchedalmond;
    color: blue;
}

.navbar .contact {
    position: relative;
    float: right;
    right: 20px;
}

.mainpage .achievements {
    width: 33%;
    font-size: 25px;
    float: left;
    padding-left: 100px;
}

.mainpage .achievement-img {
    float: left;
    width: 60%;
    height: 700px;

}



.carousel {
    width: 550px;
    height: 420px;
    margin-left: 50%;
    margin-right: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5161ce;
    color: white;
    text-align: center;
    font-size: small;
}