@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    background-color: azure;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    background-color: #5161ce;
}

.navbar li {
    float: left;
    padding: 5px;
}

.navbar li a.active {
    background-color: blanchedalmond;
    color: blue;
}

.navbar li a {
    border-radius: 80px;
    border: 1px solid;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    display: flex;
    background-color: transparent;
    color: honeydew;
    text-decoration: none;
    /*removes underline*/
    /* color: rgba(255, 255, 255, 0.5); */
}

.navbar li a:hover {
    background-color: blanchedalmond;
    color: blue;
}

.navbar .contact {
    position: relative;
    float: right;
    right: 20px;
}

.image {
    position: relative;
    float: right;
    right: 20px;
}

.image img {
    width: 350px;
    height: 400px;
    background-position: center;
    right: 0px;
    border: solid;
}

.portfolio {
    font: 'Muli', sans-serif;
    font-size: large;
    width: 65%;
}

.list {
    width: 50%;
    border-left: 0px;
}

.image2 {
    float: left;
    border-right: 0px;
    width: 10%;
}

.image2 img {
    width: 250px;
    height: 250px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5161ce;
    color: white;
    text-align: center;
    font-size: small;
}