<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="item-name" [(ngModel)]="myItem.name">
    </div>
    <div class="form-group">
        <label for="prices">Prices</label>
        <input type="text" class="form-control" id="prices" name="item-price" [(ngModel)]="myItem.price">
    </div>
    <div class="form-check">
        <label class="form-check-label" for="quantity">Quantity</label>
        <input type="number" class="form-check-input" id="quantity" name="item-quantity" [(ngModel)]="myItem.quantity">
    </div>
    <button class="btn btn-primary" (click)="updateItem()">Submit</button>
</form>